@*
*@
@{
  
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WhereToStay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/39bf481a20.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" id="logo" asp-area="" asp-controller="Home" asp-action="Index">
            Where to stay
            <i class="fas fa-bed"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="contactMessages" asp-action="Index">contactMessages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Destinations" asp-action="Index">Destinations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Features" asp-action="Index">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Hotels" asp-action="Index">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Images" asp-action="Index">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="HotelImages" asp-action="Index">HotelImages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="HotelRooms" asp-action="Index">HotelRooms</a>
                </li>
                <li class="nav-item">
                    <partial name="_LoginPartial" />
                </li>
              
            </ul>
        </div>
    </nav>


    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>


