@{
    
}



    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
            <div class="card" id="aboutHeight">
                    <div class="card-body">
                        <h1 class="card-title text-center">About Us</h1>
                    <p>
                        "Where to stay?" is a platform/website is perfect for people who travel or just want to spend their weekend differently.
                        We offer best deals and give you quick and easily accessible information about most popular hotels, motels and guest houses.
                        And if you decide to stay then you can reserve directly a spot in destination of your choice through our website.  <br>
                        <br>




                        Based and created in Riga. <br>
                        <i class="fas fa-bed" id="aboutLogo"></i>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2174.9883828163242!2d24.025735015949206!3d56.96613148089522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eec554f8265f63%3A0x86f7a0b53108fbf7!2sSIA%20A-birojs!5e0!3m2!1sen!2slv!4v1641403398074!5m2!1sen!2slv"
                            width="450" height="400" style="width:100%; margin: auto; align-content:center;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
